$font-family: "Rubik", sans-serif;
$title-font-family: "Miriam Libre", sans-serif;
.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 8vw;
  h1 {
    margin: 0;
    padding: 0 30px 20px;
    text-align: center;
    font-family: $title-font-family;
    color: black;
    span {
      border-bottom: 3px solid rgb(255, 37, 73);
    }
  }
  .projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .splide {
      padding-top: 20px;
    }
    .project {
      background-color: white;
      width: 21vw;
      margin: 20px;
      border-radius: 5px;
      font-family: $font-family;
      box-shadow: 1px 5px 15px darkgrey;
      text-align: center;
      img {
        width: 21vw;
        height: 25vh;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .projectTitle {
        font-size: 1.3em;
        font-weight: 600;
        font-family: $title-font-family;
        margin: 15px 0 0 0;
      }
      .projectDescription {
        font-weight: 300;
        margin: 10px 0 30px 0;
        line-height: 23px;
        padding: 0 15px;
        text-align: center;
        height: 8vh;
      }
      .projectTags {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 8vh;
        p {
          background-color: rgb(37, 0, 71);
          font-size: 0.8em;
          color: white;
          margin: 4px;
          padding: 4px 7px;
          border-radius: 5px;
          flex-wrap: wrap;
        }
      }
      .demoButton,
      .codeButton {
        width: 50%;
        font-family: $title-font-family;
        background-color: rgb(255, 37, 73);
        margin: 25px 0 0;
        padding: 10px 15px;
        border-radius: 0;
        color: white;
      }
      .demoButton {
        border-right: 1px solid whitesmoke;
        border-bottom-left-radius: 5px;
      }
      .codeButton {
        border-bottom-right-radius: 5px;
      }
      .demoButton:hover,
      .codeButton:hover {
        background-color: rgb(224, 20, 54);
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .projects {
    height: fit-content;
    padding: 12vh 0 10vh 8vw;
    h1 {
      padding: 0 30px 20px;
    }
    .projectsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .splide {
        padding-top: 20px;
      }
      .project {
        width: 30vw;
        img {
          width: 30vw;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .projects {
    height: fit-content;
    padding: 12vh 0 10vh 8vw;
    h1 {
      padding: 0 30px 20px;
    }
    .projectsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .splide {
        padding-top: 20px;
      }
      .project {
        width: 40vw;
        img {
          width: 40vw;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .projects {
    height: fit-content;
    padding: 12vh 0 10vh 8vw;
    h1 {
      padding: 0 30px 20px;
    }
    .projectsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .splide {
        padding-top: 20px;
      }
      .project {
        width: 230px;
        img {
          width: 230px;
        }
      }
    }
  }
}
