$font-family: "Miriam Libre", sans-serif;
$font-family-2: "Rubik", sans-serif;
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  //background-color: rgb(250, 254, 255);
  padding: 0 0 0 8vw;
  h1 {
    margin: 0;
    padding: 0 30px 50px 30px;
    text-align: center;
    font-family: $font-family;
    span {
      border-bottom: 3px solid rgb(0, 183, 255);
    }
  }
  .skillsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 80px;
    .language {
      flex: 15%;
      margin: 15px 20px;
      padding: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      box-shadow: 1px 3px 10px lightgrey;
      border-radius: 4px;

      .languageImage {
        font-size: 45px;
        color: rgb(14, 0, 63);
      }
      .languageName {
        margin: 5px 0 0 0;
        font-family: $font-family-2;
        font-weight: 300;
      }
    }
  }
  @media screen and (max-width: 1260px) {
    .skillsContainer {
      .language {
        margin: 10px 20px;
        padding: 5px 2px;
      }
    }
  }
  @media screen and (max-width: 780px) {
    .skillsContainer {
      .language {
        flex: 20%;
        margin: 10px 15px;
        .languageImage {
          font-size: 30px;
        }
        .languageName {
          font-size: 0.9em;
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .skills {
    height: fit-content;
    padding: 10vh 0 10vh 8vw;
    .skillsContainer {
      padding: 0 25px;
      .language {
        flex: 35%;
        margin: 10px 10px;
        padding: 10px 5px;
        .languageImage {
          font-size: 30px;
        }
        .languageName {
          font-size: 0.8em;
          font-weight: 400;
        }
      }
    }
  }
}
