$title-font-family: "Miriam Libre", sans-serif;
$font-family: "Rubik", sans-serif;
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: calc(100% - 8vw);
  padding: 0 0 0 8vw;
  h1 {
    margin: 0;
    color: black;
    padding: 0 30px 60px 30px;
    text-align: center;
    font-family: $title-font-family;
    span {
      border-bottom: 3px solid orangered;
    }
  }
  .aboutMeContainer {
    display: flex;
    font-family: $font-family;
    padding: 0 80px;
    img {
      width: 20vw;
      height: 20vw;
    }
    .aboutMeSection {
      display: flex;
      flex-direction: column;
      padding: 0 20px 0 50px;
      color: black;
      text-align: justify;
      font-size: 1.3em;
      font-weight: 300;
      line-height: 40px;

      .aboutMe {
        flex-grow: 1;
      }
      .resumeLink {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.9em;
        font-family: $font-family;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: orangered;
          transition: 0.3s;
          svg {
            margin: auto;
            margin-left: 20px;
            font-size: 1.5em;
          }
        }
        a:hover {
          color: orange;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: calc(100% - 8vw);
    padding: 12vh 0 8vh 8vw;
    .aboutMeContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 30vw;
        height: 30vw;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: calc(100% - 8vw);
    padding: 12vh 0 8vh 8vw;
    .aboutMeContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
      }
      .aboutMeSection {
        padding: 0;
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .aboutMeContainer {
    .aboutMeSection {
      width: 280px;
    }
  }
}
