$font-family: "Miriam Libre", sans-serif;

.home {
  background-color: rgb(0, 0, 43);
  .homeContainer {
    background-color: rgb(0, 0, 24);
    height: 100vh;
    display: flex;
    align-items: center;
    .leftContainer {
      flex: 1;
    }
    .rightContainer {
      flex: 1;
      border-left: 2px solid white;
      padding-left: 30px;
      .introduction {
        color: white;
        font-family: $font-family;
        h1,
        h3,
        h4 {
          margin: 0;
        }
        h1 {
          font-size: 4em;
        }
        h3 {
          font-size: 2em;
          font-weight: 400;
        }
        h4 {
          font-size: 1.5em;
          font-weight: 400;
        }
      }
    }
  }
  /*  .scrollDownButton {
    height: 5vh;
    text-align: center;
    overflow: hidden;
    a {
      color: white;
      height: inherit;
      img {
        height: inherit;
      }
    }
  } */
}

@media screen and (max-width: 650px) {
  .homeContainer {
    .leftContainer {
      display: none;
    }
    .rightContainer {
      margin-left: 30vw;
      font-size: 0.7em;
    }
  }
}
