$title-font-family: "Miriam Libre", sans-serif;
$font-family: "Rubik", sans-serif;
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 0 0 0 8vw;
  h1 {
    margin: 0;
    padding: 0 30px 40px 30px;
    text-align: center;
    font-family: $title-font-family;
    color: black;
    span {
      border-bottom: 3px solid rgb(72, 255, 142);
    }
  }
  .contactMeContainer {
    display: flex;
    align-items: center;
    .contactMeForm {
      display: flex;
      flex-direction: column;
      flex: 1.5;
      border-right: 1px solid rgb(72, 255, 142);

      .contactMeMessage > p,
      input,
      textarea,
      button {
        padding: 15px 20px;
        margin: 10px 4vw 1vw 10vw;
        font-family: $font-family;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        resize: none;
      }
      input,
      textarea {
        border: 1px solid rgb(236, 236, 236);
      }
      input:focus,
      textarea:focus {
        border: 1px solid rgb(188, 252, 213);
      }
      .contactMeMessage {
        display: flex;
        align-items: center;
        p {
          font-family: $title-font-family;
          font-size: 1.3em;
          font-weight: 600;
          padding: 15px 5px;
          margin: 0 0 0 10vw;
        }
        svg {
          color: rgb(72, 255, 142);
        }
      }
      button {
        font-size: 1.1em;
        background-color: black;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
      }
      button:hover {
        color: rgb(32, 255, 118);
      }
    }
    .contactMeInfo {
      display: flex;
      flex-direction: column;
      flex: 0.7;
      margin: 10px 4vw;
      .contactReachMe {
        font-size: 1.5em;
        margin: 15px 0;
        font-weight: 600;
        font-family: $title-font-family;
      }
      .contactList {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 100%;
        font-family: $font-family;
        svg {
          color: rgb(72, 255, 142);
          margin: 0 20px 0 0;
        }
        p {
          margin: 0;
          font-size: 1.1em;
        }
      }
      .socialHandleList {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 100%;
        padding: 10px 0;

        a {
          color: rgb(72, 255, 142);
          svg {
            margin: 0 25px 0 0;
            font-size: 2em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .contact {
    height: fit-content;
    padding: 10vh 0 7vh 8vw;
    .contactMeContainer {
      flex-direction: column;

      .contactMeForm {
        width: 80vw;
        border: none;
        border-bottom: 1px solid white;
        padding-bottom: 40px;
        .contactMeMessage > p,
        input,
        textarea,
        button {
          margin-left: 4vw;
        }
        .contactMeMessage {
          font-size: 0.9em;
          flex-wrap: wrap;
        }
      }
      .contactMeInfo {
        .contactReachMe {
          margin-top: 30px;
          text-align: center;
        }
        .socialHandleList {
          justify-content: center;
          a {
            svg {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}
