.sidebar {
  .sidebarButton {
    color: white;
    width: inherit;
    .sidebarIcon,
    .sidebarIconActive {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1px;
      height: 1px;
      margin: 0 auto;
      background-color: rgb(0, 183, 255);
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s ease;
      a {
        display: none;
        transition: 0.5s ease;
      }
    }
    .sidebarIcon:hover,
    .sidebarIconActive {
      width: 25px;
      height: 25px;
      padding: 8px;
      a {
        display: block;
        color: white;
      }
    }
    .sidebarIcon:hover {
      background-color: rgb(255, 37, 73);
    }
    .connectorLine {
      margin: 0 auto;
      height: 20px;
      width: 0px;
      background-color: white;
    }
  }
}
