$font-family: "Rubik", sans-serif;

.footer {
  background-color: rgb(15, 0, 32);
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: $font-family;
    margin: 0;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
  }
}
