.sidebar {
  position: fixed;
  width: 8vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .sidebar {
    width: 12vw;
  }
}
